
%p
  = link_to new_movie_path do
    Add movie

%h2 Movies

- Movie.all.each do |movie|
  .mr-movie
    %dl
      %dt  Title
      %dd= movie.title
      %dt  Description
      %dd= movie.description
      %dt  Date
      %dd= movie.date

