!!!
%html
  %head
    %title MovieRama
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-Type'}

  %body
    %h1 MovieRama

    %p
      Hi #{@movie.user.name}!
    %p
      #{@voter.name} hates the movie you posted: #{@movie.title}.
      You could probably hate their movies back, just for fun.
    %p
      Come back to MovieRama to see the latest additions!
    %p
      Sincerely,
      The MovieRama team

