!!!
%html
  %head
    %title MovieRama
    %meta{ content: 'text/html', charset: 'UTF-8', 'http-equiv' => 'Content-Type'}

  %body
    %h1 MovieRama

    %p
      Hi #{@movie.user.name}!
    %p
      #{@voter.name} loves the movie you posted: #{@movie.title}!
      Why don't you come back to the website to show some love as well?
    %p
      Come back to MovieRama to see the latest additions!
    %p
      Sincerely,
      The MovieRama Team